*{padding: 0;margin: 0;bottom: 0;}
*, *::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

.green-block{
    background-color: green;
    span {
        color: red;
        font-weight: 900;
    }
}

.main-block {
    height: 100px;
    display: flex;
    justify-content: space-between;;
    background-color: desaturate($color: #0d7892, $amount: 0);
    .main-block__item {
        border: 1px solid yellow;
        width: 30%;
        height: 80%;
        margin: auto;
    }
}
.down-block{
    position: relative;
    .main-btn {
        background-color: orange;
        border: none;
        color: #ffffff;
        height: 80px;
        margin-top: 8px;

        &::after{
            content: "";
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 8px solid red;
            position: absolute;
            top:0;
        }
    }
}
