@import "./style.scss";


.questions {
    background-image: url(../../img/445.jpg);
}

.block-item {
    display: flex;
    position: relative;
    border-bottom: 5vh solid #afaeae;
    .block-item__img {
        margin-top: 12vh;
        background-color: #ffffff;
        z-index: 5;
    }

    .block-item__images {
        display: flex;
        flex-direction: column;
        & img {
           border: 1px solid #afaeae;
        }
    }
    .block-item__text {
        padding: 1%;
        display: flex;
        flex-direction: column;
        background-color: #140e11;
        color: #78cbd6;
        .idea-strong {
            background-color: #545f8f;
            color: #fc9643;
            font-weight: 900;
            padding-right: 1vw;
            padding-left: 1vw;
        }
        .idea-white {
            color: #ffffff;
            &:hover{
                color: #73fd61
            }
        }
    }
}


